#Data Type & Structure
**Theory Question**

Q.1 What are data structures, and why are they important?

--> Data structures are ways of organizing, managing & storing data so that it can be accessed & modified efficiently. They are fundamental in computer science & software engineering because they directly affect the performance & scalability of applications. They are important because of:
- Efficiency: The right data structure makes programs faster & uses less memory.
- Scalability: Good structures help applications handle large volumes of data.
- Problem Solving: Many algorithms rely on specific structures (ex. graphs for pathfinding).
- Maintainability: Clear & appropriate use of data structures makes code easier to understand & maintain.

Q.2 Explain the difference between mutable and immutable data types with examples?

--> The key difference between mutable & immutable data types is as follows:
1. Mutable Data Types:

Mutable data types can be changed after creation:
- Lists: my_list = [1, 2, 3] → my_list[1] = 99 (works)
- Dictionaries: my_dict = {'p': 1} → my_dict['p'] = 8 (works)
- Sets: my_set = {1, 2, 3} → my_set.add(4) (works)

2.Immutable Data Types:

Immutable data types cannot be changed after creation:
- Integer: x = 5 → cannot modify the value 5 itself
- Float: y = 3.14 → cannot modify the value 3.14 itself
- String: s = "Hello" → cannot modify individual characters.

Q.3  What are the main differences between lists and tuples in Python?

--> The main difference between lists & tuples in pyhton:
1. Lists in Pyhton:
- Lists are mutable, use square brackets [ ] & supports many methods.
- Lists are better when you need to modify data.
- Use a list when you need a flexible, changeable collection.
2. Tuples in Python:
- Tuples are immutable, use parentheses ( ) & have fewer methods.
- Tuples are better when data should stay constant.
- Use a tuple when you need a fixed, safe collection of data, i.e. coordinates, days of the week.

Q.4 Describe how dictionaries store data.

--> Dictionaries in Python store data as key-value pairs, where each key maps to a value. This structure allows for fast and direct access to data using the key. Dictionaries stores Data as follows:
- Internally, dictionaries use a structure called a hash table.
- Each key is passed through a hash function to produce a unique index (i.e. hash).
- That index determines where the value is stored in memory.
- When you look up a key, Python uses the hash to quickly find the associated value.
- This provides very fast O(1) lookup time regardless of dictionary size.

Q.5 Why might you use a set instead of a list in Python?

--> You might use a set instead of a list in Python when you need to store unique items.
1. No Duplicates:
- Sets automatically remove duplicate values.
- Use a set when uniqueness is important.

2. Faster Lookup:
- Checking if an item exists in a set is much faster than in a list — especially as the size grows.
- Useful for tasks like filtering duplicates or checking membership quickly.

3. Set Operations:
- Sets support operations like union, intersection, difference which are handy in math-like or data comparison tasks.

Q.6 What is a string in Python, and how is it different from a list?

--> A string in Python is a sequence of characters, such as letters, numbers, or symbols, enclosed in quotes (' ', " ", or ''' '''). It is used to represent textual data. The difference between string & list is as given:
- String is an immutable sequence of characters used for storing text, while a list is a mutable sequence that can store any data types, including strings.
- Ex.: "Hello, world!" is a string containing letters, spaces, punctuation, etc.

Q.7  How do tuples ensure data integrity in Python?

--> Tuples ensure data integrity in Python by being immutable, meaning their contents cannot be changed after creation. This prevents accidental modifications, making them ideal for storing fixed, reliable data like coordinates or configuration settings.
- Immutability: Once created, their elements cannot be added to, removed or changed.
- Safe sharing: They can be safely passed between functions or used as dictionary keys without risk of alteration.
- Predictable behavior: This protects the data from accidental or unintended changes in a program.

Q.8 What is a hash table, and how does it relate to dictionaries in Python?

--> A hash table is a data structure that stores data in key-value pairs and uses a hash function to compute an index in an underlying array where each value is stored. It relates to Dictionaries in Python as given:
- In Python, a dictionary is implemented using a hash table.
- When you add a key-value pair to a dictionary: Python runs the key through a hash function & the resulting hash determines where the value is stored in memory.
- This allows for very fast lookups, insertions, and deletions, typically in constant time.

Q.9  Can lists contain different data types in Python?

--> Yes, lists can contain different data types in Python. We are able to mix integers, strings, floats, booleans, lists, dictionaries & even custom objects all in the same list. This flexibility makes lists a powerful and commonly used data structure in Python.
- Ex.: my_list = [42, "hello", 3.14, True, [1, 2], {"key": "value"}].

Q.10 Explain why strings are immutable in Python.

--> Strings are immutable to make your programs safer, faster & more predictable in Python to ensure:
1. Data Integrity: Once a string is created, it cannot be altered, which prevents accidental or unwanted changes, especially when passed between functions or shared across code.
2. Performance Optimization: Immutability allows Python to optimize memory usage by safely reusing string objects, this is called string interning.
3. Hashability: Since strings are immutable, they can be hashed & used as keys in dictionaries or elements in sets, which rely on constant hash values for fast lookup.

Q.11  What advantages do dictionaries offer over lists for certain tasks?

--> Dictionaries offer several key advantages over lists for certain tasks, especially when working with key data:
1. Faster Lookups: Dictionaries provide constant-time access (O(1)) to values using keys & Lists require linear-time search (O(n)) to find an item by value or index.
2. Key-Based Access: With dictionaries, you can access values by descriptive keys instead of relying on numeric positions. This makes data more readable & meaningful.
3. Better Organization for Structured Data: Dictionaries are ideal for representing structured objects where each piece of data has a label.
4. No Need to Remember Indexes: Unlike lists, you don't have to remember what each index means; the keys act as self-documenting labels.

Q.12  Describe a scenario where using a tuple would be preferable over a list.

--> A tuple is preferable over a list when you need to store a fixed collection of values that should not be changed, ensuring data integrity and improving performance.

Imagine you're building a GPS navigation app. For each location, you need to store its latitude & longitude — a pair of numbers that always belong together & should never change once set. Using a tuple is ideal here because:
- The coordinates are a fixed set of values.
- You want to protect them from accidental changes.
- Tuples make your intention clear: this data is meant to stay constant.

Q.13  How do sets handle duplicate values in Python?

--> In python sets automatically remove duplicate values. When you add items to a set, only unique elements are kept & any duplicates are ignored. It Works as:
- Sets are unordered collections of unique items.
- If you try to add a duplicate, Python checks internally & does not store it again.
- Ex.: {1,2,2,3,3,3} becomes {1,2,3}.

Q.14  How does the “in” keyword work differently for lists and dictionaries?

--> The "in" keyword works differently for lists & dictionaries in Python because it checks for membership in different ways:
1. For Lists:
- The "in" keyword checks if a specific value is present in the list.
- In lists, it Checks if a value is in the list.
2. For Dictionaries:
- The "in" keyword checks if a key is present in the dictionary.
- In dictionaries, it Checks if a key is in the dictionary.

Q.15  Can you modify the elements of a tuple? Explain why or why not.

--> No, you cannot modify the elements of a tuple in Python. It is because of:
1. Immutability: A tuple is an immutable data structure, meaning once it is created, its contents cannot be changed. This includes:
- Adding new elements
- Removing elements
- Modifying existing elements
2. Data Integrity: Immutability ensures that the data in the tuple remains consistent & unchanged, which is especially useful in scenarios where you want to protect data from accidental modification.
3. Performance: Tuples are more memory-efficient & faster than lists because python knows they won't change, allowing for optimizations like hashing.

Q.16 What is a nested dictionary, and give an example of its use case?

--> A nested dictionary in Python is a dictionary where the value of one or more keys is itself another dictionary. This allows you to represent more complex data structures by grouping related data together.

Use Case Example: Storing Information about Multiple Students.

In [ ]:
students = {
    "Siddhesh": {"age": 22, "grades": {"math": 90, "science": 85}},
    "Aditya": {"age": 21, "grades": {"math": 80, "science": 88}},
}

In this example:
- Each student's name (ex.: "Siddhesh", "Aditya") is a key in the outer dictionary.
- The value for each student is another dictionary containing their age & grades.
- The grades themselves are another nested dictionary, storing scores in specific subjects.

Q.17 Describe the time complexity of accessing elements in a dictionary.

--> In Python, the time complexity of accessing elements in a dictionary is generally O(1), which is constant time.
- Average Case: O(1) — the dictionary provides fast lookups due to the hash table.
- Worst Case: O(n) — This occurs in rare cases where there are hash collisions.

Q.18 In what situations are lists preferred over dictionaries?

--> Lists are preferred over dictionaries in situations when:
- Order matters: Lists maintain the order of elements.
- Indexed data: We need to store data that is accessed by position/index rather than a key.
- Allowing duplicates: Lists can store duplicate values.
- Simple data structures: When your data doesn't require key-value pairs.
- Small datasets: For small collections, performance differences between lists & dictionaries are minimal.

Q.19 Why are dictionaries considered unordered, and how does that affect data retrieval?

--> Dictionaries in Python are considered unordered because the elements are stored in a hash table, where the order in which items are inserted is not guaranteed to be the order in which they are retrieved. The main goal of dictionaries is efficient key-value access, not to maintain the order of the elements.

Python uses a hash function to assign each key to a specific position in memory, which allows for fast lookups. However, this hash-based organization doesn't retain the order of insertion. This Affect Data Retrieval as follows:
- Access by Key: You can retrieve data by key very quickly using constant-time lookup (O(1)), but you can't rely on the order of the keys or values.
- Iteration Order: In Python versions before 3.7, dictionaries did not guarantee any specific order when iterating over keys or values. Starting from Python 3.7, dictionaries maintain insertion order, but they are still conceptually unordered because this behavior is not required for their core functionality.

Q.20  Explain the difference between a list and a dictionary in terms of data retrieval.

--> The difference between List & Dictionary in terms of Data Retrieval:
1. List:
- A list is an ordered collection of items, where each item has a specific index (position).
- You access elements by their index (e.g., my_list[2]).
- Elements are ordered by their index, so when you retrieve items, you get them in the exact order they were inserted.
- Best when you need to store sequential data or access elements by position.
2. Dictionary:
- A dictionary is an unordered collection of key-value pairs, where each value is accessed by a unique key rather than an index.
- You access elements by their key (e.g., my_dict['key_name']).
- The order of elements is not guaranteed; in earlier versions, dictionaries are unordered.
- Best when you need to store key-value pairs & retrieve values by specific keys.

**Practical Questions**

Q.1 Write a code to create a string with your name and print it.

In [1]:
name = "Suraj Kakulte"
print(name)

Suraj Kakulte

Q.2 Write a code to find the length of the string "Hello World".

In [2]:
text = "Hello World"
length = len(text)
print(length)

11

Q.3  Write a code to slice the first 3 characters from the string "Python Programming".

In [4]:
text = "Python Programming"
slice = text[:3]
print(slice)

Pyt

Q.4  Write a code to convert the string "hello" to uppercase.

In [5]:
text = "hello"
uppercase = text.upper()
print(uppercase)

HELLO

Q.5 Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [6]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

Q.6 Write a code to create a list with numbers 1 to 5 and print it.

In [7]:
number = [1,2,3,4,5]
print(number)

numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

Q.7 Write a code to append the number 10 to the list [1, 2, 3, 4].

In [8]:
number = [1,2,3,4]
number.append(10)
print(number)

[1, 2, 3, 4, 10]

Q.8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [9]:
number = [1,2,3,4,5]
number.remove(3)
print(number)

[1, 2, 4, 5]

Q.9 Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [13]:
my_list = ['a','b','c','d']
second_element = my_list[1]
print(second_element)

b

Q.10 Write a code to reverse the list [10, 20, 30, 40, 50].

In [17]:
my_list = [10,20,30,40,50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

Q.11 Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [18]:
my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

Q.12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [20]:
colors = ('red','green','blue','yellow')
elements = colors[-2]
print(elements)
#

blue

Q.13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
numbers = (10, 20, 5, 15)
min = min(numbers)
print("The minimum number is:", min)

Q.14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [26]:
animal = ('dog', 'cat', 'rabbit')
ind = animal.index('cat')
print("The index of 'cat' is:", ind)

The index of 'cat' is: 1

Q.15  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [27]:
fruit = ('Mango','Kiwi','Guava')
fruits = 'Kiwi' in fruit
print(fruits)

True

Q.16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [29]:
my_set = {'a','b','c'}
print(my_set)

{'c', 'b', 'a'}

Q.17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [30]:
my_set = {1,2,3,4,5}
my_set.clear()
print(my_set)

set()

Q.18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [31]:
my_set = {1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

Q.19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [33]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
uni_set = set1.union(set2)
print("Union of the sets:", uni_set)

Union of the sets: {1, 2, 3, 4, 5}

Q.20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [34]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
inter_set = set1.intersection(set2)
print("Intersection of the sets:", inter_set)

Intersection of the sets: {2, 3}

Q.21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [36]:
my_dict = {"name": "Suraj", "age": 21, "city": "Sambhajnagar"}
print(my_dict)

{'name': 'Suraj', 'age': 21, 'city': 'Sambhajnagar'}

Q.22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [37]:
details = {'name': 'John', 'age': 25}
details['country'] = 'USA'
print(details)

{'name': 'John', 'age': 25, 'country': 'USA'}

Q.23  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [38]:
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print("Name:", name_value)

Name: Alice

Q.24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [39]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

Q.25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [40]:
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

Q.26 Write a code to create a list, a tuple, and a dictionary, and print them all.

In [41]:
my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dict = {'name': 'Sura', 'age': 21}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Sura', 'age': 21}

Q.27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [42]:
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print("Sorted random numbers:", numbers)

Sorted random numbers: [21, 61, 79, 80, 90]

Q.28 Write a code to create a list with strings and print the element at the third index.

In [43]:
animals = ["Lion", "Tiger", "Leopard", "Wolf", "Bear"]
print("Element at index 3:", animals[3])

Element at index 3: Wolf

Q.29 Write a code to combine two dictionaries into one and print the result.

In [46]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2} #By using dictionary unpacking method
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

Q.30 Write a code to convert a list of strings into a set.

In [48]:
str_list = ["Aditya", "Rushikesh", "Mayurraj", "Siddhesh"]
str_set = set(str_list)
print("Original list:", str_list)
print("Converted set:", str_set)

Original list: ['Aditya', 'Rushikesh', 'Mayurraj', 'Siddhesh']
Converted set: {'Mayurraj', 'Aditya', 'Rushikesh', 'Siddhesh'}